
@media(max-width:1200px){
  .modal-content {
    margin: 4% auto;
    width: 384px !important;
    height: 256px !important;
}
}
@media screen and (max-width: 969px) {

  .mobwelcom {
    padding-top: 49px;
  }

  .box {
    height: 400px;
    width: 450px
  }

  .mobwelcom :first-child {
    font-size: 34px;
  }

  .join {
    height: 54px;
    width: 400px;
  }

  #fname {
    width: 400px;
    height: 64px;
  }

  .inputShowPwd {
    margin-bottom: 44px;
  }

  .pass-inp {
    height: 64px;
    width: 400px;
  }

  .showEle {
    right: 45px !important;
  }


}

@media screen and (max-width: 768px) {
  .modal-content {
    margin: 4% auto;
    width: 304px !important;
    height: 256px !important;
}
  .mobwelcom {
    padding-top: 29px;
  }

  .box {
    height: 331px;
    width: 400px;
  }

  .mobwelcom :first-child {
    font-size: 24px;
  }

  .join {
    width: 300px;
    height: 44px;
    font-size: 14px;
  }

  #fname {
    width: 300px;
    height: 44px;
    padding-left: 20px;
    font-size: 18px;
  }

  .inputShowPwd {
    width: 300px;
    margin-bottom: 34px;
  }

  .pass-inp {
    height: 44px;
    padding-left: 20px;
    font-size: 18px;
  }

  .showEle {
    right: 15px !important;
  }

}

@media screen and (max-width: 468px) {

  .logo {
    margin-top: 20px;
    margin-left: 20px;
  }

  .logo img {
    width: 151.22px;
  }

  .section-container {
    width: 100%;
  }

  .mobwelcom {
    padding-top: 29px;
  }

  .box {
    height: 311px;
    width: 229px;
  }

  .mobwelcom :first-child {
    font-size: 20px;
  }

  .join {
    height: 37.7px;
    width: 192px;
    font-size: 14px;
  }

  #fname {
    height: 40.84px;
    width: 192px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #797667;
  }

  .inputShowPwd {
    width: 192px;
    margin-bottom: 34px;
  }

  .pass-inp {
    width: 192px;
    height: 40.84px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px !important;
    color: #797667;
  }

  .showEle {
    right: 10px !important;
  }

}

