.contactText {
    width: 230px;
    height: 70px;
}

.contactText h1 {
    width: 230;
    font-weight: 900;
    font-size: 36px;
    color: #333333;
}
.mainContact{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inputArea {
    margin-top: 30px;
    display: flex;
    width: 100%;

}

.firstInputSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.secondInputSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.firstInputSection input {
    width: 610.46px;
    height: 75px;
    font-size: 23px;
    color: #797667;
    padding-left: 38px;
    border: 1px solid #CECECE;
    outline: none;
}

.firstInputSection input:nth-child(2) {
    margin-top: 30px;
}

.secondInputSection input {
    width: 610.46px;
    height: 75px;
    padding-left: 20px;
    font-size: 23px;
    color: #797667;
    padding-left: 38px;
    border: 1px solid #CECECE;
    outline: none;
}
.MessageArea{
    width: 100%;
}
.MessageArea textarea{
    resize: none;
    width: 100%;
    font-size: 23px;
    margin-top: 30px;
   
    color: #797667;
    padding: 38px 0 0 38px;
    border: 1px solid #CECECE;
    outline: none;
}
.divButton {
    width: 47.67%;
    height: 75px;
    margin-top: 40px;
}

.divButton button {
    width: 100%;
    height: 100%;
    background-color: var(--mainColorOrange);
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 30px;
    font-weight: 400;
}

.divButton button:hover {
    opacity: 0.5;
}

.social-bar {
    margin-top: 300px;
}

#telephone::-webkit-inner-spin-button,
#telephone::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.phone-inp {
    margin-top: 30px;
    /* width: 100%; */
}

.phone-inp input {
    width: 610.46px !important; 
}





