body {
  /* background: #720418; */
  height: 100vh;
}
.section2 {
  display: flex;
}
.bordo {
  width: 24.1%;
  padding-right: 38px;
  background: #720418;
}

.column {
  margin-top: 62px;
}
.list {
  margin-left: 35px;
  margin-bottom: 45px;
  display: flex;
}

.para1 {
  width: 197.97px;
  height: 13.07px;
  margin-left: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 196.19%;
  /* or 35px */
  align-items: center;
  /* text-align: center; */
  color: #ffffff;
}

.white {
  width: 85%;
  padding-left: 40px;
  background: #fffaf5;
}

.iconadmin {
  display: flex;
  justify-content: end;
  text-align: center;
  margin-top: 57px;
  margin-right: 58px;
}

.addbook {
  font-weight: 600;
  font-size: 30px;
  line-height: 196.19%;
  /* identical to box height, or 59px */
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  color: #333333;
}

.full {
  /* margin-left: 33px; */
}

.para2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 196.19%;
  /* or 35px */
  color: #333333;
}

.input {
  outline: none;
  font-family: "Preahvihear";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #adadad;
  padding-left: 33px;
  width: 56.4%;
  height: 41px;
  background: #ffffff;
  border: 2px solid rgba(57, 31, 0, 0.48);
  border-radius: 34px;
}

.button {
  width: 63px;
  height: 40px;
  background: #ff8b00;
  border-radius: 34px;
  margin-left: 7px;
}

.inputbutton {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.grey {
  width: 56.4%;
  /* height: 85px; */
  margin-top: 6px;
  background: #f1f0f0;
  border-radius: 35px;
}

.clock {
  display: flex;
  /* padding-top: 17px; */
  padding-left: 33px;
}

.name {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  padding-left: 24px;
  padding-top: 13px;
  color: #bcbcbc;
}

.form1 {
  margin-top: 81px;
}

.para3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #333333;
}

.form {
  width: 1107px;
  height: 599px;
  left: 385px;
  top: 519px;

  background-color: #ffffff;
  border-radius: 20px;
}
