@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

html {
  scroll-behavior: smooth;
}


body {
  height: 100vh;
}

.section2-flex {
  display: flex;
}

.bordo {
  width: 24.1%;
  padding-right: 40px;
  background: #720418;
}

.column {
  margin-top: 62px;
  padding-left: 10px;

}

.list {
  margin-bottom: 45px;
}

li {
  padding-bottom: 33px;
}

a {
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

.para1 {
  width: 197.97px;
  height: 13.07px;
  margin-left: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 196.19%;
  /* or 35px */
  align-items: center;
  /* text-align: center; */
  color: #ffffff;
}

.white {
  width: 85%;
  padding-left: 40px;
  background: #fffaf5;

}

.iconadmin {
  display: flex;
  justify-content: end;
  text-align: center;
  margin-top: 57px;
  margin-right: 58px;
}

.addbook {
  font-weight: 600;
  font-size: 30px;
  line-height: 196.19%;
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  color: #333333;
}

.para2 {
  font-weight: 600;
  font-size: 18px;
  color: #333333;
  margin-bottom: 6px;
}

.input {
  outline: none;
  font-family: "Preahvihear";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #adadad;
  padding-left: 33px;
  width: 56.4%;
  height: 41px;
  background: #ffffff;
  border: 2px solid rgba(57, 31, 0, 0.48);
  border-radius: 34px;
}

.button {
  width: 63px;
  height: 40px;
  background: #ff8b00;
  border-radius: 34px;
  margin-left: 7px;
  border: none;
}

.inputbutton {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.grey {
  width: 32.26%;
  max-height: 225px;
  margin-top: 6px;
  background: #f1f0f0;
  border-radius: 35px;
  overflow-y: auto;
  overflow-x: hidden;
}

.grey::-webkit-scrollbar {
  width: 4px;
}

.grey::-webkit-scrollbar-thumb {
  background-color: #720418;
  border-radius: 10px;
}

.grey::-webkit-scrollbar-track {
  background-color: #f1f0f0;
  border-radius: 10px;
}

.clock {
  display: flex;
  padding-left: 33px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.clock:hover {
  background-color: #fff;
}

.name {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  padding-left: 24px;
  padding-top: 13px;
  color: #bcbcbc;
}

.form1 {
  margin-top: 81px;
}

.para3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #333333;
}

.form-change {
  width: 91%;
  margin-right: 110px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 20px;
}

.form-label {
  /* font-family: Roboto; */
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #030102;
  font-family: Roboto;
}

.form-control,
.form-select {
  height: 40px;
  max-width: 1047px;
  width: 100%;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  border: 1px solid #E2E6EE;
  box-shadow: 0px 4px 18px 0px #9EA8BD4F;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;

}

.form-select:focus {
  box-shadow: 0px 3px 16px 1px rgba(114, 4, 24, 0.75);
}

.description {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
  color: #241400;
  height: 72px;
  max-width: 1047px;
  width: 100%;
  border-radius: nullpx;
  border: none;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  border: 1px solid #E2E6EE;
  box-shadow: 0px 4px 18px 0px #9EA8BD4F;


}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #E2E6EE;
}

.description:focus {
  border: 1px solid #E2E6EE;
  border: none;
}

.booktype {
  display: flex;
  text-align: center;
  align-items: center;
  padding-bottom: 5px;
}

.type-add {
  width: 120px!important;
  margin-bottom: 10px;
  margin-left: 15px;
  background-color: green !important;
  color: #fff !important;
  font-size: 12px !important;
  cursor: pointer;
  transition: 0.8s ease all;
  outline: none !important;
}

.type-add:hover {
  border: 2px solid green;
  background-color: #fff !important;
  color: green !important;
}

.btn {
  height: 40px;
  max-width: 1047px;
  width: 100%;
  border-radius: 10px;
  padding: 12px 24px 12px 24px;
  background: #FF8B00;
  border: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;


}

.btn:hover {
  background: #FF8B00;
}

.para4 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  line-height: 59px;
  color: #333333;
}

.us {
  width: 50%;
  margin-left: 29px;
  margin-top: 167px;
}

.cus {
  width: 80%;
  margin-left: 29px;
  margin-top: 167px;
  margin-bottom: 199px;

}

th,
td {
  margin-top: 16px;
}

.tr {
  background: #720418;
  color: #FFFFFF;
  margin-top: 16px;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: center;
  /* height: 48px; */

}

.tr1 {
  background-color: #FFFFFF;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  text-align: center;
}

.tr2 {
  background-color: #FFFFFF;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  text-align: center;
  background-color: #F9FAFC;
}

thead {
  padding-top: 16px;

}

.section3 {
  display: none;
}

.deletebox ,.view-box{
  width: 20px;
  color: #fff !important;
}

#delete ,#view{
  border: none;
  background: none;
}
.quickView{
  outline: none;
  border: none;
  background-color: transparent;
}
.quickView img{
  width: 20px;
  height: 20px;
}
.search-inp {
  width: 32.84%;
  font-family: 'Preahvihear', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ADADAD;

}

.admin-icon {
  display: flex;
}

.admin {
  font-family: "Roboto", sans-serif;
  margin-left: 8.26px;
  font-weight: 400;
  font-size: 14px;
  color: #241400;
  border: none;
  outline: none;
  background: transparent;
}

.search-btn:hover {
  opacity: 0.8;
}

.no-result {
  padding-left: 20px;
  padding-top: 10px;
  color: #720418;
  font-weight: 400;
}

.hamburger-container {
  margin-top: -40px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hamburger-btn {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
  display: none;
}

#example {
  width: 50px !important;
  margin: 0 auto;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #720418;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 0px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.3s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: -15px;
  right: 5px;
  color: #fff;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn:hover {
  opacity: 0.5;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /* If you want a transition effect */
  padding: 20px;
}

.logo-mobile {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 76px;
}

.logo-mobile img {
  width: 177px;
}

.ham-mob {
  margin-top: 71.85px;
  margin-left: -120px;
}

.menu-link {
  display: flex;
  margin-left: 15px;
}

.mob-logo {
  display: none;
}

.iconadmin {
  float: right;
}

.full {
  margin-top: 127px;
}

.para1 {
  transition: 0.5s ease all;
}

.para1:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #eee;

}

.cus::-webkit-scrollbar {
  width: 1px;
  height: 3px;
}

.cus::-webkit-scrollbar-thumb {
  background-color: #720418;
  border-radius: 10px;
}

.cus::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

.us::-webkit-scrollbar {
  width: 1px;
  height: 3px;
}

.us::-webkit-scrollbar-thumb {
  background-color: #720418;
  border-radius: 10px;
}

.us::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

.x-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-btn:hover {
  opacity: 0.5;
}

.type-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-btn:hover {
  opacity: 0.5;
}

.coment {
  display: none;
}

.deletebox:hover{
  opacity: 0.5;
}