@media screen and (max-width: 1563px){

    .firstInputSection input {
        width: 550.46px;
    }

    .secondInputSection input {
        width: 550.46px;
    }

    .phone-inp input {
        width: 550.46px !important; 
    }

}
@media screen and (max-width: 1412px){

    .firstInputSection input {
        width: 520.46px;
    }

    .secondInputSection input {
        width: 520.46px;
    }

    .phone-inp input {
        width: 520.46px !important; 
    }
}


@media screen and (max-width: 1343px){

    .firstInputSection input {
        width: 500.46px;
    }

    .secondInputSection input {
        width: 500.46px;
    }
  
    .phone-inp input {
        width: 500.46px !important; 
    }
    
}
@media screen and (max-width: 1290px){

    .firstInputSection input {
        width: 470.46px;
    }

    .secondInputSection input {
        width: 470.46px;
    }
  
    .phone-inp input {
        width: 470.46px !important; 
    }
    
}

@media screen and (max-width: 1212px){

    .firstInputSection input {
        width: 415.46px;
    }

    .secondInputSection input {
        width: 415.46px;
    }
    .phone-inp input {
        width: 415.46px !important; 
    }
    
}

@media screen and (max-width: 1075px){

    .firstInputSection input {
        width: 375.46px;
    }

    .secondInputSection input {
        width: 375.46px;
    }
    .phone-inp input {
        width: 375.46px !important; 
    }
    
}

@media screen and (max-width: 967px){

    .firstInputSection input {
        width: 320.46px;
    }

    .secondInputSection input {
        width: 320.46px;
    }
   
    .phone-inp input {
        width: 320.46px !important; 
    }
    
}

@media screen and (max-width: 869px) {

    .mainContact {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-left: 15px;
    }

    .inputArea {
        display: flex;
        flex-direction: column;
    }

    .secondInputSection {
        margin-top: 30px;
    }

    .firstInputSection {
        width: 100%;
        align-items: center;
    }
   
    .firstInputSection input {
        width: 400px;
    }

    
    .secondInputSection {
        width: 100%;

        align-items:center;
    }

    .secondInputSection input {
        width: 400px;
    }
    .MessageArea{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .MessageArea textarea{
        width: 400px;
        margin-bottom: 10px;
        padding: 15px;
        padding-left: 40px;
    }
    .divButton {
        width: 400px;
    }

    .join-img {
        display: none;
    }

    .phone-inp input {
        width: 400.75px !important; 
    }

}

@media screen and (max-width:440px) {

    .mainContact {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 0px;
    }

    .contactText {
        width: 300px;
        margin-left: 20px;
        text-align: center;
    }

    .firstInputSection {
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    .firstInputSection input {
        width: 250px;
        height: 40px;
        border: 1px solid #CECECE;
        font-size: 16px;
        color: #241400;
        border-radius: 5px;
    }

    .inputArea {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .secondInputSection {
        margin-top: 30px;
        width: 250px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }


    .secondInputSection input {
        width: 250px;
        height: 40px;
        font-size: 16px;
        color: #241400;
        border: 1px solid #CECECE;
        border-radius: 5px;
    }
    .MessageArea {
        margin-right: 0;
    }
    .MessageArea textarea{
        width: 250px;
        padding: 20px;
        font-size: 16px;
        color: #241400;
        border: 1px solid #CECECE;
        border-radius: 5px;
    }

    .social-bar {
        margin-top: 130px;
    }

    .divButton {
        width: 250px;
        margin-left: 0px;
        height: 37px;
    }

    .divButton button {
        border-radius: 5px;
        font-size: 16px;
        color: #fff;
    }

    .phone-inp input {
        width: 250px !important; 
        font-size: 16px !important; 
        color: #241400 !important;
        border: 1px solid #CECECE !important;
        border-radius: 5px !important;
    }
}