@media screen and (max-width: 1200px) {

    .catalog-btn button {
        width: 180px;
    }

    .score :first-child {
        font-size: 45px;
    }

    .score :nth-child(2) {
        font-size: 10px;
    }

    .join-inp {
        margin-bottom: 30px;
    }

    .join-modal {
        margin: 30px 35px 25px 35px;
    }

    .join-btn :first-child {
        height: 70px;
    }

    .modal-content {
        margin: 4% auto;
        width: 500px;
        height: 450px;
    }

}

@media screen and (max-width: 940px) {

    /* Footer Mobile */

    .footer-area {
        flex-direction: column;
        align-items: center;
    }

    .footer-right {
        width: 100%;
        margin-left: 200px;
    }

    .bottom-logo {
        margin-bottom: 36px;
    }

    .modal-content {
        height: 410px;
    }

    .join-inp {
        margin-bottom: 40px;
    }

    .join-btn :first-child {
        height: 54px;
    }

    .join-modal span {
        font-size: 34px;
        margin-bottom: 30px;
    }

    .second-sec {
        width: 687px;
    }

    .catalog-btns button {
        width: 180px;
        height: 65px;
    }

}

@media screen and (max-width: 869px) {

    .catalog-btn button {
        width: 130px;
        font-size: 12px;
    }

    .about-score {
        margin-right: -20px;
    }

    .score :first-child {
        font-size: 35px;
    }

    /* Footer Mobile */

    .footer-right {
        width: 100%;
        margin-left: 100px;
    }

    .top-nav {
        display: none;
    }

    .join-us :nth-child(2) {
        display: none;
    }

    .join-us {
        display: none;
    }

    .mobile-ham {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .mobile-ham :first-child {
        margin-right: 22px;
        width: 19px;
    }

    .mobile-ham :nth-child(2) {
        background-color: transparent;
        width: 0;
        border: none;
        outline: none;
    }
}

@media screen and (max-width: 765px) {

    .first-sec {
        display: flex;
        flex-direction: column-reverse;
    }

    .first-right-sec {
        width: 100%;
        margin: 0;
        margin-bottom: 46px;
    }

    .first-left-sec {
        width: 80%;
        text-align: center;
    }

    .contain {
        width: 90%;
    }

    .catalog-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-sec {
        width: 287px;
    }

    .catalog-btns button {
        width: 223px;
        height: 65px;
        margin-right: 0;
        font-size: 14px;
    }

    .mobile-catalog-1 {
        margin: 0;
    }

    .mobile-catalog button {
        margin: 0;
        margin-bottom: 15px !important;
    }

    .third-sec {
        margin-bottom: 93px;
    }

    .about {
        margin-right: 25px;
        margin-bottom: 51px;
    }

    .about-score {
        display: flex;
        flex-direction: column;
    }

    .score {
        margin-bottom: 25px;
    }

    .score :first-child {
        font-size: 50px;
    }

    .score :nth-child(2) {
        font-size: 14px;
    }

    .four-sec {
        margin-bottom: 154px;
    }

    /* Footer Mobile */

    .footer-right {
        display: flex;
        margin-left: 10px;
        width: 75%;
    }

    .footer-nav {
        margin-right: 15px;
    }



}

@media screen and (max-width:590px) {

    .follow {
        text-align: center;
    }

    .media-icon a img {
        width: 50px;
    }

    .modal-content {
        width: 400px;
    }

}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-width: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .modal-content {
        padding: 0;
        width: 260px;
        height: 354px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .join-inp input {
        width: 218px;
        height: 46px;
        padding-left: 13px;
        color: #797667;
        font-size: 16px;
    }

    .join-btn :first-child {
        height: 42px;
    }
}